desktop.ini
.mypy_cache/

# PyCharm workspace
.idea
.iws
workspace.xml
tasks.xml
venv

# Ignore env files
.env

# notebooks
./notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/
./.ipynb_checkpoints/
.ipynb_checkpoints
./notebooks/.ipynb_checkpoints/NLTSA-checkpoint.ipynb

#Ignore R history files
.Rhistory

# vscode workspace
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/

# OSX
.DS_Store

# Data folders
data/
.mypy_cache/

# config file
.config
.Rproj.user
scratch*
